git_url("git@github.com:jsmbars/boss-certificates.git")

type("enterprise") # The default type, can be: appstore, adhoc, enterprise or development
username("") # Your Apple Developer Portal username
app_identifier(["com.pubinvestgroup.BossStaffApp"]) # Change it to your APP_ID